<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <td>REF</td>
        <td>Creation Date</td>
    </tr>
    {% for i in list %}
        <tr>
            <td>{{ i.ref }}</td>
            <td>{{ i.CreationDate|date('Y-m-d') }}</td>
            <td><a href="{{ path('deleteClub',{'ref':i.ref}) }}">Supprimer</a></td>
        </tr>
    {% endfor%}

</table>

</body>
</html>